.modal {
	position: fixed;
	top: 0; /* start from the top left corner to cover entire screen */
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.5);
	display: flex;
	justify-content: center;
	align-items: flex-start;
	z-index: 1000; /* high z-index to ensure it's on top */
	animation: fadeIn 0.5s;
  overflow: auto;
  font-family: 'Montserrat', sans-serif;
}

.modal-content {
	background: white;
	background-image: url(/yellow.png), url(/blue.png);
	background-size: 20rem 16rem;
	background-repeat: no-repeat;
	background-position: top right, bottom left;
	padding: 1rem;
	border-radius: 1rem;
	width: 85%;
  margin-top: 1rem;
	position: relative; /* Ensure relative positioning for child elements */
  overflow-y: auto;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
  overflow: hidden;

}

.input-field {
	text-indent: 1rem;
	display: flex;
	justify-content: start;
	text-align: start;
  font-family: 'Montserrat', sans-serif;
}

.input-box {
	height: 2rem;
	width: 95%;
	border-radius: 0.3rem;
	border: solid 1px gray;
	padding-left: 0.5rem;
	margin-bottom: 1.25rem;
  font-family: 'Montserrat', sans-serif;
}

.input-label {
	background-color: red;
}

.close-button {
	position: absolute;
	background-color: #CA2500;
	color: rgb(69, 69, 69);
	border: none;
	border-radius: 25%;
	top: 10px; /* Adjust top position */
	right: 10px; /* Adjust right position */
	font-size: 1.5rem;
	cursor: pointer;
  display: flex;
  justify-content: center;
  align-self: center;
  padding: 0.25rem 0.5rem;
  color: white;
  box-shadow: 0.125rem 0.125rem 0.25rem rgba(0, 0, 0, 0.5);
}

fieldset {
	border: solid 1px lightgrey;
	border-radius: 0.3rem;
	display: flex;
	flex-direction: column;
	margin-bottom: 1.5rem;
}

.radio-label {
	display: flex;
	margin-right: auto;
	align-items: baseline;
	gap: 0.5rem;
}

select,
input {
	display: block;
	margin-right: auto;
	margin-top: 0.5rem;
}

@keyframes fadeIn {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

.titleCloseBtn {
	display: flex;
	justify-content: flex-end;
}

.titleCloseBtn button {
	background-color: transparent;
	border: none;
	font-size: 25px;
	cursor: pointer;
}

.modal-button {
	border: solid 1px #CA2500;
	background-color: #CA2500;
  font-family: 'Montserrat', sans-serif;
	color: rgb(255, 255, 255);
	font-size: large;
	border-radius: 5rem;
	box-shadow: 0.125rem 0.125rem 0.25rem rgba(0, 0, 0, 0.5);
	padding: 0.5rem 1rem;
  cursor: pointer;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.loading {
  opacity: 0.7;
  pointer-events: none; /* Disable interaction while loading */
  position: relative;
}

.loading::after {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  width: 20px;
  height: 20px;
  margin-top: -10px; /* Half of height */
  margin-left: -10px; /* Half of width */
  border-radius: 50%;
  border: 2px solid #ccc;
  border-top-color: #333;
  animation: spin 1s linear infinite;
}

.confetti {
  width: 100%
}